.main {
  margin-left: 200px;
  padding: 0 20px;
  width: 80%;
}
.espacio_tabla{
  margin-right: 15%;
}

// h1 {
//   color: #9b51e0;
//   font-size: 3rem;
//   text-align: center;
//   text-shadow: 2px 2px #fcb900;
//   padding-bottom: 30px;
// }

.sidebar {
  background-color: #b08dd1;
  color: #fff;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #fcb900;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-nav {
  margin-top: 30px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.sidebar-nav a i {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-nav a:hover {
  // background-color: rgb(40,116,252);
  border-bottom: 9px solid rgb(40,116,252);
  border-left: 9px solid rgb(40,116,252);
  border-radius: 60px;
  cursor: pointer;
  color: black;
}

.sidebar-nav a.active {
  background-color: #ff6d00;
}






/*estilos otros*/


@media only screen and (min-width: 768px) {


	.sidebar a {
		display: block;
		color: #fff;
		padding: 16px;
		text-decoration: none;
	}



	.main {
		margin-left: 200px;
		padding: 0 20px;
	}
}