.bod {
    font-size: 12px;
    font-family: sans-serif;
    --framer-aspect-ratio-supported: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: 1px;
    justify-content: center;
    overflow: visible;
    padding: 300px 20px;
    position: relative;
    width: 100%;
}

.cent {
    font-size: 12px;
    font-family: sans-serif;
    --framer-aspect-ratio-supported: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: 1px;
    justify-content: center;
    overflow: visible;
    padding: 300px 20px;
    position: relative;
    width: 100%;
}
.error {
    --framer-aspect-ratio-supported: auto;
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    white-space: pre;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    margin: 0px;
    padding: 0px;
    font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);
    font-style: var(--framer-font-style, normal);
    font-weight: var(--framer-font-weight, 400);
    color: var(--framer-text-color, #000);
    font-size: var(--framer-font-size, 16px);
    letter-spacing: var(--framer-letter-spacing, 0);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    line-height: var(--framer-line-height, 1.2em);
    text-align: var(--framer-text-alignment, start);
    --font-selector: R0Y7SW50ZXItNzAw;
    --framer-font-family: "Inter", "Inter Placeholder", sans-serif;
    --framer-font-size: 260px;
    --framer-font-weight: 700;
    --framer-letter-spacing: -19.6px;
    --framer-line-height: 1em;
    --framer-text-color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, rgb(0, 17, 34));
}

.cent2 {
    font-size: 12px;
    font-family: sans-serif;
    --framer-aspect-ratio-supported: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 600px;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: auto;
    word-break: break-word;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    opacity: 1;
    transform: none;
}

.sub {
        --framer-aspect-ratio-supported: auto;
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    margin: 0px;
    padding: 0px;
    font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);
    font-style: var(--framer-font-style, normal);
    font-weight: var(--framer-font-weight, 400);
    color: var(--framer-text-color, #000);
    font-size: var(--framer-font-size, 16px);
    letter-spacing: var(--framer-letter-spacing, 0);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    line-height: var(--framer-line-height, 1.2em);
    text-align: var(--framer-text-alignment, start);
    --font-selector: R0Y7SW50ZXItNTAw;
    --framer-font-size: 24px;
    --framer-font-weight: 500;
    --framer-letter-spacing: -0.7px;
    --framer-line-height: 1.5em;
    --framer-text-alignment: center;
    --framer-text-color: var(--token-1021654d-251a-4750-952b-de3f7005260e, rgb(136, 136, 136));
}