
header {
    /* Personalizar la barra de desplazamiento */
    scrollbar-width: thin;
    scrollbar-color: #999999 #e5e5e5;
  }
  
  /* Estilos de la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e5e5e5; /* Color de fondo de la pista de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999999; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 4px; /* Radio de borde del pulgar de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555555; /* Color del pulgar de la barra de desplazamiento al pasar el mouse */
  }
  