.HomeAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
}

.content {
  max-width: 600px;
}

.titleh {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.divider {
  width: 60px;
  height: 2px;
  background-color: #333;
  margin: 10px auto;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}
